* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.dark-theme {
    --bg-color: #343541;
    --chat-bg: rgb(68, 70, 84);
    --chat-border: rgb(32,33,35,.5);

    --color1: white;
    --color2: #ececf1;
    --color3: rgb(255, 255, 255, 0.05);
    --color4: rgb(255, 255, 255, 0.8);
    --color5: rgb(255, 255, 255, 0.5);

    --gradient1 : #353740;
}

.light-theme {
    --bg-color: #ffffff;
    --chat-bg:  rgb(247,247,248);
    --chat-border: rgb(0,0,0,.1);

    --color1: black;
    --color2: #343541;
    --color3: rgb(242, 242, 242);
    --color4:  rgb(0, 0, 0);
    --color5:  rgb(0, 0, 0, 0.5);

    --gradient1 : #dcdce9;
}